

body{
    background-color: black;
}


.hero-section {
    min-height: 100vh;
   
    padding: 60px 0;
}

.profile-card {
    background: color #1f2937;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(59, 130, 246, 0.2);
    max-width: 400px;

}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}





.badge {
    border-radius: 50px;
}
